body {
    margin: 0;
    display: flex;
    flex-direction: column;
    height: 100%;
}

html, body {
    margin: 0;
    height: 100%;
}

/* header */
.header {
    background-color: #1F2937;
    display: flex;
    height: 100px;
    margin: 0;
}

.header-logo-container {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.logo {
    height: 75px;
    width: 200px;
}

.header-links-container {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

a {
    color: white;
}


/* body */
.content-container {
    display: flex;
    flex-direction: column;
    height: 100%;
    flex: 1fr;
}

.block1 {
    display: flex;
    flex-direction: row;
    height: 400px;
    background-color: #1F2937;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
}

.block1-left {
    flex: 1;
    padding-left: 115px;
}

.block1-left-content {
    justify-content: center;
    align-items: center;
}

.block1-left-text {
    margin: 0;
    font-size: 18px;
    color: #E5E7EB;
}

h1 {
    color: #F9FAF8;
    font-weight: bolder;
    font-size: 48px;
    margin: 0;
}

.signUp-button {
    background-color: #3882F6;
    border-radius: 3px;
    padding-left: 8px;
    padding-right: 8px;
    border-width: 0;
    border-style: none;
    color: white;
    height: 35px;
    width: 80px;
}

.block1-right {
    flex: 1;
}

.mbali {
    width: 400px;
    height: 200px;
}

.block2 {
    display: flex;
    height: 200px;
    flex-direction: column;
    flex-shrink: 0;
}

.block2-top {
    height: 50px;
    position: relative;
    text-align: center;
}

.block2-top-text {
    position: absolute;
    font-size: 20px;
    font-weight: bold;
    margin: 0;
    bottom: 0;
    right: 0;
    left: 0;
}

.block2-bottom {
    display: flex;
    flex: 1;
    justify-content: center;
    gap: 35px;
}

.block2-bottom-containers {
    text-align: center;
    width: 160px;
}

.block2-bottom-img {
    height: 60px;
    width: 60px;
    display: inline;
    border-style: solid;
    border-color: #3882F6;
    border-radius: 8px;
}

.block2-bottom-img-text {
    color: #000000;
    font-size: 15px;
    margin: 0;
}

.block3 {
    height: 450px;
    background: #E5E7EB;
    display: flex;
    justify-content: center;
}

.block3-content {
    width: 650px;
    flex-wrap: wrap;
}

.block3-text {
    font-size: 36px;
    font-style: italic;
    margin-bottom: 0;
}

.block3-quote-container {
    display: flex;
    justify-content: flex-end;
}

.block3-quote {
    font-weight: bolder;
    margin-top: 0;
}

.block4 {
    height: 600px;
    display: flex;
    justify-content: center;
    padding-top: 50px;
    padding-bottom: 50px;
}

.block4-content {
    display: flex;
    background-color: #3882F6;
    width: 700px;
    border-radius: 6px;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 50px;
    height: 75px;
}

.block4-text-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.block4-heading {
    color: white;
    font-size: 18px;
    margin: 0;
    font-weight: bold;
}

.block4-text {
    font-size: 11px;
    margin: 0;
    color: white;
}

.signUp-button-bottom {
    height: 30px;
    margin-left: 60px;
    background-color: #3882F6;
    border-color: white;
    border-style: solid;
    border-radius: 2px;
    color: white;
}